.welcome-to {
    height: 100%;
    width: 100%;
    background-color: #e9eaef;
    display: flex;
    align-items: center;

    .login-image {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;
    }

    .login-info {
        width: 24rem;
        height: 24rem;
        background-color: white;

        .outer-image {
            margin: .8rem;

            img {
                max-height: 3rem;
                max-width: 3rem;
            }
        }

        .name-image {
            .el-input {
                width: 80%;
                margin: .4rem;

                .el-input__icon {
                    img {
                        max-height: 1rem;
                        max-width: 1rem;
                        padding-top: .85rem;
                    }
                }
            }
        }

        .password-image {
            .el-input {
                width: 80%;
                margin: .4rem;

                .el-input__icon {
                    img {
                        max-height: 1rem;
                        max-width: 1rem;
                        padding-top: .85rem;
                    }
                }
            }
        }

        .password-info {
            .el-checkbox:last-child {
                margin-right: 2rem;
            }

            .el-link.el-link--primary {
                margin-left: 3rem;
            }

        }

        .login-button {
            padding-top: 2.5rem;

            .el-button {
                width: 80%;
            }
        }

        .register {
            padding-top: 1rem;
        }
    }
}
