.read-article {
    height: 100%;
    width: 100%;

    .label-info {
        height: 6%;
        width: 100%;
        display: flex;
        justify-content: center;

        .el-tabs {

            display: flex;
            align-items: center;

            .el-tabs__header {
                margin: unset;
            }

            .el-tabs__item {
                padding: 0 1.5rem;
                font-size: 1rem;
            }

            .el-tabs__active-bar {
                background-color: white;
            }

            .el-tabs__nav-wrap::after {
                background-color: white;
            }
        }
    }

    .content-info {
        height: 94%;
        width: 100%;
        background-color: #f8f8f9;

        .el-col {
            height: 100%;

            .max-height {
                max-height: 52rem;
            }

            .el-scrollbar {
                .el-scrollbar__thumb {
                    background-color: unset;
                }
            }
        }
    }
}
