.edit-article {
    height: 100%;
    width: 100%;

    .title {
        display: flex;
        align-items: center;
        background-color: #f8f8f9;

        span:nth-child(1) {
            width: 35%;
            padding-left: .5rem;
        }

        span:nth-child(2) {
            width: 40%;
            text-align: right;
        }

        span:nth-child(3) {
            width: 25%;
            text-align: left;
            padding-left: 2rem;
        }
    }

    .markdown-body {
        height: 100%;
    }
}
