.edit-article {
    height: 100%;
    width: 100%;

    .markdown-body {
        height: 92%;
    }

    .sure-button {
        height: 8%;
        display: flex;
        align-items: center;
        justify-content: center;

        .submit {
            display: inline-block;
            margin-right: 1rem;
        }

        .cancel {
            display: inline-block;
        }
    }
}
